.user-row:hover{
	background-color: #66FF99 !important;
}
.user-row{
	cursor: pointer;
}
.user-list-setting-icon{
	width: 20px;
	height: 20px;
	text-align: center;
}
.user-list-setting-icon:hover{
	box-shadow: 2px 2px 2px #888888;
}
tbody tr:hover{
	background-color:#A9A9A9;
	cursor:pointer;
}
table {
	width:100%;
}