@()
@views.html.bases.masterpage("User Info"){
	<div class="user-list-head">
        <link href="@routes.Assets.versioned("users/info/main.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.versioned("users/models.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("users/info/main.js")" type="text/javascript"></script>
    </div>
    <div id="div-register">
    <div class="container user-info">
    	<div class="form-group">
			<label class="control-label col-sm-4" for="username">@label.Username*:</label>
      		<div class="col-sm-8">
      			<label class="form-control" id="username"></label>
      		</div>
		</div>
    </div>
	</div>
}