@(mode : String)
@views.html.bases.masterpage("Create new user"){
	<link href="@routes.Assets.versioned("users/create/main.css")" rel="stylesheet" media="screen" />
	<script src="@routes.Assets.versioned("users/models.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("users/create/services.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("users/create/main.js")" type="text/javascript"></script>
<span style="visibility:hidden" id="info-mode">@mode</span>
<table style="width:100%;" border="1">
<thead>
	<tr>			
		<td colspan="4" style="text-align:left;padding-left:5px;font-size:20px;" class="clinic-col-header">
			User Info
		</td>
	</tr>
<thead>
	<tbody data-bind="with:insUser">
		<tr>
			<td class="clinic-row-header">Username</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:code" id="userCode"/>
			</td>
			<td class="clinic-row-header">Phone</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:phone"/>
			</td>
		</tr>
		<tr>
			<td class="clinic-row-header">Password*</td>
			<td>
				<input type="password" class="table-text-input user-info-input" data-bind="value:password" id="userPwd"/>
			</td>
			<td class="clinic-row-header">Email</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:email" id="userEmail"/>
			</td>
		</tr>
		<tr>
			<td class="clinic-row-header">Retype-password*</td>
			<td>
				<input type="password" class="table-text-input user-info-input" data-bind="value:rePassword" id="rePassword"/>
			</td>
			<td class="clinic-row-header">Address</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:address"/>
			</td>
		</tr>
		<tr>
			<td class="clinic-row-header">Type</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:type" id="type"/>
			</td>
			<td class="clinic-row-header">Full name</td>
			<td>
				<input type="text" class="table-text-input user-info-input" data-bind="value:name" id="fullname"/>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4" style="text-align:left:padding-left:5px">
				<button class="clinic-btn" id="btn-signup" data-bind="click:save">Sign up</button>
			</td>
		</tr>
	</tfoot>
</table>

}