@()
@views.html.bases.masterpage("List User"){
	<div class="user-list-head">
        <link href="@routes.Assets.versioned("users/list/main.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.versioned("users/list/services.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("users/list/main.js")" type="text/javascript"></script>
    </div>
    <div class="user-list-content">
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>User name</th>
    			<th>Full Name</th>
    			<th>Type</th>
    			<th>Status</th>
    			<th>Phone</th>
    			<th></th>
    		</tr>
    	</thead>
    	<tbody data-bind="foreach:lstUser">
    		<tr class="user-row">
    			<td>
    				<span data-bind="text:code"></span>
    			</td>
    			<td data-bind="text:name"></td>
    			<td data-bind="text:type"></td>
    			<td data-bind="text:status"></td>
    			<td data-bind="text:phone"></td>
    			<td>
	    			<i class="fa fa-info-circle user-list-setting-icon"></i>
					<i class="fa fa-pencil user-list-setting-icon"></i>
					<i class="fa fa-trash user-list-setting-icon"></i>
    			</td>
    		</tr>
    	</tbody>
    </table>	
    </div>
}
